.stack{
    display: grid;
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
    --active-bg: #ffffff;
    border: solid 0.0625rem rgb(0 0 0);
    border-radius: 0.25rem;
}

.stack > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
}

.stack> * > :first-child {
    flex-grow: 1;
    flex-basis: 0;
}

.stack>*:not(:first-child) {
    border-top: solid 0.0625rem rgb(0 0 0);
}